- if category.errors.present?
  ul#error_explanation
    - category.errors.full_messages.each do |message|
      li= message

= form_with model: [:admin, category], local: true do |f|
  .form-group
    .input-group.date[id="datetimepicker1" data-target-input="nearest"]
      =f.label 'datetimepicker1'
        = '日付'
      =f.text_field 'datetimepicker1', class: 'form-control datetimepicker-input', data: {target: '#datetimepicker1'}, id: 'category_datetimepicker1'
      span.input-group-append[data-target="#datetimepicker1" data-toggle="datetimepicker"]
        span.input-group-text
          i.fa.fa-calendar
  .form-group
    = f.label :name
      = Category.human_attribute_name(:name)
      = render "common/label_required"
    = f.text_field :name, class: 'form-control', id: 'category_name'
  .form-group
    = f.label :parent_id
      = Category.human_attribute_name(:parent_id)
    = f.text_field :parent_id, class: 'form-control', id: 'category_parent_id'
  .form-group
    = f.label :display_start_datetime
      = Category.human_attribute_name(:display_start_datetime)
    = f.datetime_select :display_start_datetime, {}, class: 'form-control ', id: 'category_display_start_datetime'
  .form-group
    = f.label :display_end_datetime
      = Category.human_attribute_name(:display_end_datetime)
    .date
      = f.datetime_select :display_end_datetime, {}, class: 'form-control datetime', id: 'category_display_end_datetime'
  = f.submit nil, class: 'btn btn-primary'


javascript:
  $(function () {
      $('#datetimepicker1').datetimepicker({
          dayViewHeaderFormat: 'YYYY年 MMMM',
          tooltips: {
              close: '閉じる',
              selectMonth: '月を選択',
              prevMonth: '前月',
              nextMonth: '次月',
              selectYear: '年を選択',
              prevYear: '前年',
              nextYear: '次年',
              selectTime: '時間を選択',
              selectDate: '日付を選択',
              prevDecade: '前期間',
              nextDecade: '次期間',
              selectDecade: '期間を選択',
              prevCentury: '前世紀',
              nextCentury: '次世紀'
          },
          format: 'YYYY/MM/DD',
          locale: 'ja',
          buttons: {
              showClose: true
          }
      });
      $('#datetimepicker2').datetimepicker({
          tooltips: {
              close: '閉じる',
              pickHour: '時間を取得',
              incrementHour: '時間を増加',
              decrementHour: '時間を減少',
              pickMinute: '分を取得',
              incrementMinute: '分を増加',
              decrementMinute: '分を減少',
              pickSecond: '秒を取得',
              incrementSecond: '秒を増加',
              decrementSecond: '秒を減少',
              togglePeriod: '午前/午後切替',
              selectTime: '時間を選択'
          },
          format: 'HH:mm',
          locale: 'ja',
          buttons: {
              showClose: true
          }
      });
  });